* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
  font-size: 16px;
  font-family: "Open Sans";
  background-color: beige;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 15px;
}

.chat {
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
}

.chat-top {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}

.chat-top-arrow {
  width: 12px;
  height: 21px;
  background-image: url(./img/icon-back-arrow.svg);
  background-size: auto 21px;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 40px;
  cursor: pointer;
}

.chat-top-contact {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.chat-top-contact-avatar {
  display: flex;
}
.chat-top-contact-avatar img {
  max-width: 36px;
  width: 100%;
  padding: 10px 0;
  margin-right: 8px;
}

.chat-top-contact-name {
  line-height: 1em;
}

.chat-top-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 40px;
}

.chat-top-buttons-facetime {
  width: 25px;
  height: 17px;
  background-image: url(./img/icon-video.svg);
  background-size: 25px auto;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 25px;
  cursor: pointer;
}

.chat-top-buttons-call {
  width: 21px;
  height: 21px;
  background-image: url(./img/icon-call.svg);
  background-size: auto 21px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.chat-content {
  max-height: 500px;
  height: 500px;
  overflow-y: scroll;
  width: 100%;
  background-color: rgb(230, 230, 230);
}

.chat-message-wrapper {
  width: 100%;
}

.chat-message-wrapper.right {
  display: flex;
  justify-content: right;
}
.chat-message-wrapper.left {
  display: flex;
  justify-content: left;
}

.chat-message-wrapper.right > .chat-message {
  background-color: #dcf7c5;
}

.chat-message-wrapper.left > .chat-message {
  background-color: #fafafa;
}

.chat-message {
  width: auto;
  display: inline-block;
  align-items: center;
  padding: 5px 10px 10px;
  border-radius: 8px;
  margin: 5px;
  max-width: 80%;
}

.chat-message-text {
  margin-bottom: 5px;
  margin-right: 15px;
}

.chat-message-time {
  font-size: 0.8em;
  line-height: 1em;
  margin-bottom: 3px;
}

.chat-message-date {
  font-size: 0.8em;
  line-height: 1em;
}

.chat-bottom {
  display: flex;
  align-items: center;
  padding: 0 15px;
}

.chat-add {
  width: 19px;
  height: 19px;
  background-image: url(./img/icon-plus.svg);
  background-size: 19px auto;
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 15px;
  cursor: pointer;
}

.chat-input {
  margin: 7px 0;
}

.chat-input input {
  height: 32px;
  border: 1px solid #c9c9ca;
  border-radius: 16px;
  width: 250px;
  padding: 0 10px;
}

.chat-camera {
  width: 22px;
  height: 19px;
  background-image: url(./img/icon-camera.svg);
  background-size: 22px auto;
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 25px;
  margin-left: 20px;
  cursor: pointer;
}

.chat-record {
  width: 16px;
  height: 24px;
  background-image: url(./img/icon-record.svg);
  background-size: auto 24px;
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 15px;
  cursor: pointer;
}
